
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="style.css" /> -->
  <link rel="stylesheet" href="../styles/about.css">

  <title>About Us</title>
</head>

<body>
  <br><br><br>
  

  <div class="card1">
    <div class="container1">
      <h1 class="title">
        Samruddhi Wines Mart
      </h1>    
    </div>
  </div>


  <div class="card">
    <div class="container">
      <i><p>Welcome to our 20-year journey in the world of fine spirits. Established in 2004, we've been the go-to destination for discerning connoisseurs and curious newcomers alike. 
      </p> <p>With a passion for quality and an unwavering commitment to customer satisfaction, we've curated an extensive selection of premium liquors from around the globe.</p> <p> Whether you're seeking the perfect bottle for a special occasion or looking to explore new tastes, our knowledgeable staff is here to guide you. Cheers to two decades of excellence in serving your spirits needs!</p></i>
    </div>
  </div>

  <!-- <script src="script.js"></script> -->
</body>

</html>
